/* 
Rules to specify font families:
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/*
Perfect Fourth Modular Scale
https://www.modularscale.com/?22&px&1.333
*/

html {
  font-size: 22px;
  line-height: 1.2em;
  /*font-family:;*/
}

body {
  background-color: #bc6c25; 
}

header {
  background-color: #606c38;
  color: #fefae0;
  width: 100%;
  margin: 0;
  padding: 10px;
  position: relative;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 3.257em; /*52.1px*/
  margin: 20px 20px 5px 20px;
}

h4 {
  font-size: 1.833em; /*29.3px*/
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px 20px 20px 20px;
}

form {
  background-color: #dda15e;
  text-align: center;
  width: 80%;
  margin: 2.5em auto;
  padding: 1.25em;
  border-radius: 10px;
  color: #283618;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 4.341em; /*69.46px*/
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.375em; /*22px*/
  line-height: 1.65em; /*26.4px*/
}

ul {
 padding: 0px; 
}

li {
  list-style: none;
  width: 45%;
  margin: 25px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 1.375em; /*22px*/
  line-height: 1.65em; /*26.4px*/
}

input {
  border-style: hidden;
  background-color: #fefae0;
}

#submit {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.443em; /*2.93px*/
  color: #fefae0;
  background-color: #283618;
  padding: 1.25em .625em;
  margin: 1.833em auto;
  border-style: none;
  border-radius: 10px;
}

#id-info, #birthday-info, #use-pass-info {
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #606c38;
  border-radius: 10px;
  width: 90%;
  padding: .3em;
  margin: .625em auto;
}
  

@media only screen and (min-width: 768px){
   form {
    width: 75%;
  }
  
  #submit {
    margin: 10px auto;
  }
}

@media only screen and (min-width: 992px){ 
  h2 {
    margin: 10px 13px 3px 20px;;
  }
  
  h4 {
    margin: 0px 20px 13px 20px;
  }
  
  form {
    width: 60%;
  }
  
  li {
    list-style: none;
    width: 30%;
    margin: 15px auto;
    font-family: 'Poppins', sans-serif;
  }

  #submit {
    margin: 10px auto;
  }
}